.topnav {
   background-color: cadetblue;
   overflow: hidden;
}

.topnav a {
   float: left;
   color: black;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}

.topnav a:hover {
   background-color: cornflowerblue;
   color: black;
}

.topnav a:active {
   background-color: slategray;
   color: white;
}